

		<div class="container">
			<div class="row">
				<main class="col-md-12">



                    
                
                    <h1>Welcome to the About page</h1>
                    <p>Here you can find information about me.</p>
                
                    <h2>About Me</h2>
                    <p>My name is Simran. I am a student in the Business Information Technology program.</p>



				</main>
			</div>
		</div>

		