

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					
                
                    <h1>Welcome to My Website</h1>
                    <p>I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>
                
                    <h2>About this website</h2>
                    <p>The website has three static pages (Home, About, HTML Demo) and five data-supply routes, including All Students, Students by Course, A Single Student By Student Number, All Managers, and All Courses.</p>
                    <p>For example:</p>
                    <ul>
                        <li><a href="/students">All Students</a></li>
                        <li><a href="/students?course=3">Students by Course</a></li>
                        <li><a href="/student/2">Single Student by Student Number</a></li>
                        <li><a href="/tas">All Managers</a></li>
                        <li><a href="/courses">All courses</a></li>
                    </ul>
                
                    <h2>HTML5</h2>
                    <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web.</p>



				</main>
			</div>
		</div>

		